html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pricingImg {
    width: 100%;
    border-radius: 40px;
}



body {
    background: rgb(34, 195, 180);
    background: linear-gradient(0deg, rgba(34, 195, 180, 1) 0%, rgba(185, 190, 122, 1) 39%, rgba(253, 219, 45, 1) 100%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.PricingHeader {
    color: grey;
    font-weight: 600;
    letter-spacing: 1;
}

.PricingFeatures {
    margin: 50px 0 25px;
    color: blue;
}

.Item {
    letter-spacing: 1;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid whitesmoke;
}

.Price {
    color: blue;
    font-size: 32px;
    display: block;
}

.Button {
    background-color: #FFFFFF;
    border: 1px solid blue;
    border-radius: 8px;
    box-sizing: border-box;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 25px 0;
    outline: none;
    padding: 15px 35px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.Button:focus-visible {
    box-shadow: blue 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.Button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.Button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}